.menu-div{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}

.my-menu{
  background-color: #2e2f4a;
  border-right: #2e2f4a;
  height:100%;
  color: white;
}

.my-text{
  color: white;
}

.my-img{
  max-width: 300px;
  padding: 10% 0 10% 25%
}
