<nz-layout class="main-layout">
  <nz-header class="my-header">
    <h1 class="my-color">Token List</h1>
  </nz-header>
  <nz-header class="my-search">
    <div nz-row>
      <div nz-col [nzSpan]="7" [nzPush]="17">
        <button class="my-button" nz-button nzType="primary" (click)="openModal()" routerLink="issue-token">Isuee
          Token
        </button>
        <button class="my-button" nz-button nzType="dashed"><i nz-icon nzType="download"></i>Export to CSV
        </button>
      </div>
      <div nz-col [nzSpan]="17" [nzPull]="7">
        <nz-input-group [nzPrefix]="prefixIconSearch">
          <input type="text" nz-input placeholder="Contract name or address or ticker"
                 [(ngModel)]="searchToken"
                 (input)="search(searchToken)">
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
    </div>
  </nz-header>
  <nz-layout>

    <nz-table class="my-color" #tokenListTable [nzData]="tokens" *ngIf="thereIsStorage; else error">
      <thead>
      <tr>
        <th nzWidth="10%" class="my-color">Token Name</th>
        <th nzWidth="10%" class="my-color">Token ticker</th>
        <th nzWidth="10%" class="my-color">Total supply</th>
        <th nzWidth="13%" class="my-color">Creation date</th>
        <th nzWidth="10%" class="my-color">Issuer name</th>
        <th nzWidth="10%" class="my-color">Template</th>
        <th class="my-color"></th>
        <th nzWidth="8%" class="my-color" [nzAlign]="">Actions</th>
      </tr>
      </thead>
      <tbody class="my-color" >
      <tr *ngFor="let token of tokens">
        <td>{{token.name}}</td>
        <td>{{token.ticker}}</td>
        <td>{{token.totalSupply}}</td>
        <td>{{token.creationDate}}</td>
        <td>{{token.issuerName}}</td>
        <td>{{token.template}}</td>
        <td></td>
        <td align="center">
          <a (click)="removeToken(token.id)">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-layout>
</nz-layout>

<ng-template  #error>
  <nz-result style="width: 100%" nzStatus="warning" nzTitle="There are some problem with Local Storage">
  </nz-result>
</ng-template>
