<nz-layout>
  <nz-header>
    <h1 style="color: white">Token List</h1>
  </nz-header>
<nz-layout>
  <nz-content>
    <nz-input-group [nzPrefix]="prefixIconSearch">
      <input type="text" nz-input placeholder="Contract name or address or ticker">
    </nz-input-group>
    <ng-template #prefixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </nz-content>
    <nz-sider>
      <button nz-button nzType="primary">Isuee Token</button>
      <button nz-button nzType="dashed"><i nz-icon nzType="download"></i>Export to CSV</button>
    </nz-sider>
</nz-layout>
<nz-layout>
  <nz-content>
    <nz-table #tokenListTable [nzData]="dataToken"></nz-table>
  </nz-content>
    <nz-sider>
      <i nz-icon nzType="trash"></i>
    </nz-sider>
</nz-layout>
</nz-layout>

